@media(min-width: 960px) {
    .profile-wrapper {
        display: grid;
        grid-template-columns: 1fr 960px 1fr;
        grid-template-rows: 1fr;
        grid-gap: 1em;
        grid-auto-rows: minmax(150px, auto);
    }

    .side-wrapper {
        position: sticky;
        top: 14vh;
        width: 85%;
        height: 77vh;
    }

    .global-chatbox {
        width: 100%;
        visibility: visible;
    }

    .chat-wrapper {
        position: sticky;
        display: flex;
        align-items: flex-end;
        margin-top: -43vh;
        bottom: 0;
        width: 70%;
    }
}

@media(max-width: 1370px) {
    .checklist {
        display: block;
    }

    .search-header {
        margin-left: -1rem;
        width: 90%;
    }

    .topic-header {
        margin-left: -1rem;
        width: 90%;
    }

}

@media(min-width: 960px) and (max-width: 1220px) {
    .topic-items {
        display: block;
        text-align: right;

        .topic-author-container {
            display: flex;
            justify-content: flex-end;
            margin-top: 0.25rem;
        }
    }
}

@media(max-width: 1720px) {
    .home-stats {
        display: none;
    }
}


