@media(min-width: 960px) {
    .profile-wrapper {
        display: grid;
        grid-template-columns: 1fr 960px 1fr;
        grid-template-rows: 1fr;
        grid-gap: 1em;
        grid-auto-rows: minmax(150px, auto);
    }

    .side-wrapper {
        position: fixed;
        width: 20vw;
        min-height: 60vh;
        left: 4rem;
        top: 9rem;
        z-index: 3;
    }
}
