// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";


body {
    font-family: 'Poppins', sans-serif !important;
}

a {
    color: rgb(122, 122, 122) !important;
}

.navbar-laravel {
    z-index: 2;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.clean-input {
    outline: none; 
    border: 0px;
    width: 100%;
    display: block;
}

.trans-elem {
    background: transparent;
}

.trans-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.trans-btn:focus {
    outline: 0 !important;
}

.v-centered-table td {
    display: flex; 
    align-items: center;
}

.delete-post {
    color: #ED6A5A;
    transition-property: color;
}

.delete-post-alt {
    color: rgb(214, 213, 213);
    transition-property: color;
}

.delete-post-alt:hover {
    color: rgb(148, 147, 147);
}

.like-post {
    color: #ED6A5A;
}

.liked-post {
    color: #ED6A5A;
    transition-property: color;
}

.liked-post:hover {
    color: rgb(201, 201, 201);
}

.unliked-post {
    color: rgb(201, 201, 201);
    transition-property: color;
}

.unliked-post:hover {
    color: #ED6A5A;
}

.liked-state {
    color: #ED6A5A !important;
}

.delete-post:hover {
    color: #AD4E42;
}

.admin-text {
    color: rgb(211, 96, 81);
}

.comment-post {
    color: rgb(196, 195, 195);
}

.edit-post {
    color: #6DA490;
    transition-property: color;
}

.edit-post:hover {
    color: #396958;
}

.edit-post:focus {
    outline: 0 !important;
}

.user-status-btn {
    width: 100px;
    border-radius: 25px !important;
}

.no-scroll {
    overflow:hidden;
    resize: none;
}

.notify-layout {
    position: absolute; 
    top: 70px; 
    right: 20px; 
    min-width: 350px;
    z-index: 3;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.header-img {
    grid-column: 1;
    grid-row: 1;
    min-width: 100%; 
    max-height: 100%;
    object-fit: cover;
}

.header-overlay {
    grid-column: 1;
    grid-row: 1;
    min-width: 100%; 
    max-height: 100%;
    background: rgb(0, 0, 0, 0.0);
    transition-property: background;
    transition-duration: 0.5s;
}

.banner-upload-text {
    grid-column: 1;
    grid-row: 1;
    margin-top: 70px;
    justify-self: center;
    background: none;
    color: rgb(255, 255, 255, 0.0);
    transition-property: color;
    transition-duration: 0.5s;
}

.banner-image:hover .header-overlay {
    background: rgb(0, 0, 0, 0.4);
}

.banner-image:hover .banner-upload-text {
    color: rgb(255, 255, 255, 0.9);
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.long-text {
    overflow-wrap: break-word;
}

.banner-image {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1/4;
    grid-row: 1/4;
    height: 350px;
    background: #ddd;
}

.profile-card {
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    display: grid;
    grid-column: 2/3;
    grid-row: 3;
    background: white;
    border-radius: 12px; 
}

.no-posts {
    width: 100%; 
    height: 80px; 
    display: flex; 
    justify-content:center; 
    align-items: center; 
    text-align: center
}

.article-id {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media(min-width: 960px) {
    .profile-wrapper {
        display: grid;
        grid-template-columns: 1fr 960px 1fr;
        grid-template-rows: 1fr;
        grid-gap: 1em;
        grid-auto-rows: minmax(150px, auto);
    }
}
