// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";


body {
    font-family: 'Poppins', sans-serif !important;
}

.navbar-laravel {
    z-index: 2;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.clean-input {
    outline: none; 
    border: 0px;
    width: 100%;
    display: block;
}

.trans-btn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.v-centered-table td {
    display: flex; 
    align-items: center;
}

.edit-post:hover {
    opacity: 50%;
}

.user-status-btn {
    width: 100px;
    border-radius: 25px !important;
}

.no-scroll {
    overflow:hidden;
    resize: none;
}

.notify-layout {
    position: absolute; 
    top: 70px; 
    right: 20px; 
    min-width: 350px;
    z-index: 3;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.header-img {
    grid-column: 1;
    grid-row: 1;
    min-width: 100%; 
    max-height: 100%;
    object-fit: cover;
}

.header-overlay {
    grid-column: 1;
    grid-row: 1;
    min-width: 100%; 
    max-height: 100%;
    background: rgb(0, 0, 0, 0.0);
}

.banner-image:hover .header-overlay {
    background: rgb(0, 0, 0, 0.4);
}

.banner-image:hover .banner-upload-text {
    color: rgb(255, 255, 255, 0.9);
}

.banner-upload-text {
    grid-column: 1;
    grid-row: 1;
    margin-top: 70px;
    justify-self: center;
    background: none;
    color: rgb(255, 255, 255, 0.0);
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.banner-image {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1/4;
    grid-row: 1/4;
    height: 350px;
    background: #ddd;
}

.profile-card {
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    display: grid;
    grid-column: 2/3;
    grid-row: 3;
    background: white;
    border-radius: 17px; 
}

@media(min-width: 960px) {
    .profile-wrapper {
        display: grid;
        grid-template-columns: 1fr 960px 1fr;
        grid-template-rows: 1fr;
        grid-gap: 1em;
        grid-auto-rows: minmax(150px, auto);
    }
}
