// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Icons
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

// Components
@import 'variables';
@import 'global';
@import 'bootstrap_mods';
@import 'mixins';
@import 'theming';

.header-img {
    @include minW-maxH();
    grid-row: 1;
    grid-column: 1;
    object-fit: cover;
}

.header-overlay {
    @include minW-maxH();
    @include setTransition(background, 0.5s);
    grid-row: 1;
    grid-column: 1;
    background: rgba(0, 0, 0, 0);
}

.banner-upload-text {
    @include setTransition(color, 0.5s);
    grid-row: 1;
    grid-column: 1;
    margin-top: 70px;
    justify-self: center;
    background: none;
    color: rgba(255, 255, 255, 0);
}

.banner-image {
    display: grid;
    grid-row: 1/4;
    grid-column: 1/4;
    grid-template-columns: 1fr;
    height: 350px;
    background: #ddd;
    &:hover {
        .header-overlay {
            background: rgba(0, 0, 0, 0.4);
        }
        .banner-upload-text {
            color: rgba(255, 255, 255, 0.9);
        }
    }
}

.profile-card {
    @include paddingY($top: 40px, $bottom: 20px);
    display: grid;
    grid-row: 3;
    grid-column: 2/3;
    margin-bottom: 40px;
    background: white;
}

.preserve-breaks {
    white-space: pre-line !important;
    line-height: 1.8;
    > hr {
        height: 1px;
        @include marginY($top: -25px, $bottom: 0px);
    }
    > pre {
        @include marginY($top: -10px, $bottom: 0px);
    }
    > ul {
        @include marginY($top: -30px, $bottom: 0px);
        > li {
            margin-top: -15px;
        }
    }
}

// Yet to be Sassed!


.global-chatbox {
    visibility: hidden;
}

.chat-content {
    height: 39vh;
    overflow-y: auto;
}

.equalize-content {
    margin-top: -43vh;
}

.side-card {
    background: $light;
    height: 100%;
}

.search-header {
    margin-left: -1rem;
    margin-top: -1rem;
    width: 75%;
    height: 2.5rem;
    background: $primary;
    border-radius: 0.3rem 1.0rem 0.3rem 1.0rem;
}

.search-body {
    width: 100%;
}

.topic-header {
    margin-left: -1rem;
    margin-top: 1rem;
    width: 75%;
    height: 2.5rem;
    background: $primaryDark;
    border-radius: 0.3rem 1.0rem 0.3rem 1.0rem;
}

.topic-body {
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
}

.topic-author {
    border-radius: 1.0rem 0.2rem 0.2rem 0.3rem;
    color: white;
    background: $editLight;
    padding-top: 0.12rem;
    padding-bottom: 0.12rem;
    padding-left: 0.7rem;
    padding-right: 0.5rem;
}

#button-progress {
    display: none;
}

.no-scroll {
    overflow:hidden;
    resize: none;
}

.notify-layout {
    position: fixed;
    top: 70px;
    right: 20px;
    min-width: 350px;
    z-index: 4;
}

.long-text {
    overflow-wrap: break-word;
}

.no-posts {
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center
}

.divider {
    height: 1px;
}

.checklist {
    display: flex;
}

.topic-items {
    display: flex;
    justify-content: space-between;
}

@import 'media';

// Portfolio

.neutral-direction {
    cursor: pointer;
    transition-property: color;
    &:hover {
        color: $primary !important;
    }
}

.neutral-button {
    cursor: pointer;
    transition-property: background;
    &:hover {
        background: $primaryDark !important;
    }
}


